@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #84f3cc;
    background-repeat: no-repeat;
    color: #333;
    line-height: 1.6;
    padding-top: 60px;
}

header {
    background-color: #dedede;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #4a148c;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #7b1fa2;
}

.cover {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 60px 20px;
    color: white;
    background-size: cover;
    background-position: center;
    height: 400px;
    background-blend-mode: overlay;
}

#ciencia {
    background-image: url('../img/book.jpg');
}

#religion {
    background-image: url('../img/10260.jpg');
}

#video {
    
    background-image: url('../img/rena.jpg');
}

#ilu {
    
    background-image: url('../img/ilu.jpg');
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ddd;
    margin-top: 40px;
}

.video-container {
    text-align: center;
    text-color: #000000;
    padding: 40px 0;
}

.video iframe {
    max-wid
